# ..........................

language: node_js

node_js:
  - "stable"

cache:
  directories:
    - node_modules

before_script:
  - curl -X POST -F token=${API_TOKEN} -F ref=master ${API_ENDPOINT} -o /dev/null --write-out %{http_code}

script:
  - npm run test
  - npm run test:coverage
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: ${GITHUB_TOKEN}
  local_dir: build
  on:
    branch: master

# ..........................